<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("header")-%>
<p>kjvhvhv hk v</p>
<h1>kjvkjvjk</h1>
<p>hjgc jhvjh j jhvjhv hhvhjc tyxfx jhvvjvjhv hj kvjhlvhj khvjh</p>
<%- include("footer") -%>
</body>
</html>